html {
    background-color: beige;
    margin: 0.1rem;
}

/* ----------------------- LOGIN -------------------------------- */
#login {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    max-width: 400px;
    padding: 20px 40px;
    position: relative;
    margin-bottom: 5rem;
    top: 100px;
}

#registro {
    display: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    max-width: 400px;
    padding: 20px 40px;
    position: relative;
    margin-bottom: 5rem;
    top: 100px;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.texto_form {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom:  1rem;
    width: 100%;
}

.texto_form:focus {
    border-color: #007eff;
    outline: none;
}

.botones_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.boton_form {
    background-color: #4CAF50;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
    font-size: 1rem;
    padding: 0.5rem;
    width: 60%;
}

.boton_form:hover {
    background-color: #3e8e41;
}

.boton_form:focus {
    outline: none;
}

/* ----------------------- CABECERA -------------------------------- */

.cabecera {
    display: flex;
    border: 0.2rem solid orangered;
    border-radius: 22px;
    padding: 0.5%;
    background-image: url("../img/header_img.jpg");
}

.titulo_pagina {
    display: flex;
    padding-left: 20%;
    font-style: italic;
    color: navajowhite;
    font-size: 30px;
    align-items: center;
}

.texto_cabecera {
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
}

.menus {
    display: flex;
    font-family: "Comic Sans MS", cursive;
    color: orange;
    width: 100%;
    padding-left: 15%;
}

.menu_text {
    padding-right: 1%;
    padding-left: 5%;
    font-family: "Arial Black", cursive;
    text-decoration: none;
    color: orange;
}

.imagen_cabecera {
    width: 20%;
    align-content: center;
}

.imagen_cabecera_ {
    width: 7rem;
}

/* ----------------------- SECCIÓN PRINCIPAL -------------------------------- */

.main_pagina {
    display: flex;
}

.main_section {
    display: flex;
    flex-direction: column;
    padding: 0.5%;
}

.seccion_cientificos {
    width: 80%;
    border: 0.2rem solid orangered;
    border-radius: 22px;
    padding-right: 0.5%;
    background-image: url("../img/cientifico_background.jpg");
    background-size: 100%;
}

.cientificos {
    display: flex;
}

.cientificos_ {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.foto_cientifico {
    padding: 0.2rem;
    width: 14rem;
    height: 15rem;
}

.foto_cientifico:hover {
    border-style: solid;
    border-color: orangered;
    background-color: red;
}

.pie_cientifico {
    font-family: "Comic Sans MS", cursive;
    color: black;
    text-decoration: none;
    padding-bottom: 4%;
}

.pie_cientifico:hover {
    font-family: "Arial Black", cursive;
    color: orange;
    padding-bottom: 4%;
}

.seccion_enlaces {
    display: none;
}

.titulo_enlaces {
    align-content: center;
    width: 100%;
    color: darkblue;
}

.enlace {
    font-family: "Comic Sans MS", cursive;
    color: black;
    text-decoration: none;
}

.enlace:hover {
    font-family: "Comic Sans MS", cursive;
    color: purple;
    font-size: 18px;
}

/* ----------------------- PIE PÁGINA -------------------------------- */

.pie_pagina {
    display: none;
}

/* ----------------------- GENERAL -------------------------------- */

body {
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 150px;
}