{% extends "header_footer.html" %}
    {% block especificar_head %}
        <script src="./js/comentario.js" defer> </script>
        <title>Científico</title>
        <link rel="stylesheet" href="./css/cientifico.css"/> <!-- Con esto decimos el archivo css
                 que va a darle formato. Si quisiéramos un archivo js sería <script src=... defer> </> en vez de link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    {% endblock %}

    {% block main %}
    <div id="palabrasProhibidas" data-twig="{{ palabras_censuradas|json_encode|raw }}"> {{ palabras_censuradas|json_encode|raw }} </div>
    <section class="seccion_cientificos">
        <section class="texto_cientifico">
            <h1>    {{ cientifico['nombre'] }}</h1>
            <h2>    {{ cientifico['fechas'] }}       </h2>
            <h3>    {{ cientifico['ciudad'] }}    </h3>

            {% if gestor %}
                <div class="botones_edicion_eliminar">
                    <a href="./eliminarCientifico.php?id={{ cientifico['idc'] }}">
                        <i class="fas fa-trash-alt"></i>
                    </a>

                    <a href="./gestorPage.php?id={{ cientifico['idc'] }}">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                </div>
            {% endif %}

            <p class="biografia">
                {{ cientifico['texto'] }}
            </p>

            <section class="buttons">
                <button> <a class="text_button" href="./cientifico_imprimir.php?id={{ cientifico['idc'] }}"> FB </a> </button>
                <button> <a class="text_button" href="./cientifico_imprimir.php?id={{ cientifico['idc'] }}"> TW </a> </button>
                <button> <a class="text_button" href="./cientifico_imprimir.php?id={{ cientifico['idc'] }}"> IMPRIMIR </a> </button>
                <!-- Script que muestra u oculta la sección de comentarios. -->
                <button> <a class="comment_button" onclick="mostrarComentarios()"> COMENTARIOS </a> </button>
            </section>

        </section>
        
        <section class="imagenes_cientifico">
            {% for foto in fotosCientifico %}
                <img class="foto_cientifico" src="{{ foto['ruta'] }}">
            {% endfor %}
        </section>
    </section>

    {% endblock %}

    {% block comentarios %} 
    <!-- Sección oculta de los comentarios. -->
        <section id="comentarios">
            {% if registrado %}
                <!-- Script para cuando pulsamos el botón, hacer las validaciones y agregar el comentario. -->
                <form class="poner_comentario" action="./comentar.php" method="post">
                    <label for="name">Nombre:</label>
                    <input id="name" name="username" type="text" value="{{ username }}" readonly>

                    <label for="mail">Correo electrónico:</label>
                    <input id="mail" name="mail" type="text" value="{{ correo }}" readonly>

                    <label for="comentario_usuario">Mensaje:</label>
                    <input type="hidden"  value="{{ cientifico['idc'] }}" name="id_cientifico" readonly>
                    <!-- Script para el evento de escribir sobre el textarea. -->
                    <input id="comentario_usuario" type="text" name="user_comentario" oninput="comprobarPalabrasMalsonantes()" required>
                    <input id="boton_enviar" type="submit" value="Enviar">
                </form>
            {% else %}
                <div class="MandarAInicioSesion">
                    Para poner un comentario, por favor,&nbsp; <a class="iniciar_sesion" href="./login.php"> inicia sesión.</a>
                </div>
            {% endif %}

            <div id="comentarios_presentes">            <!-- Bucle con todos los comentarios almacenados en la base de datos que concuerden con el id del científico. -->
                {% block comentariosPresentes %}

                    {% for comentario in comentariosCientifico %}
                        <div class="comment">
                            Autor: {{ comentario['autor'] }} </br>
                            Correo: {{ comentario['correo'] }} </br>
                            Hora: {{ comentario['hora'] }} </br>
                            Comentario: <p class="comentario" id="{{ contador }}"> {{ comentario['texto'] }} </p> </br>
                            {% if modder %}
                                <form class="editar_comentario" action="./editarComentario.php" method="post">
                                    <input type="text" name="texto_nuevo" required>
                                    <input type="hidden" name="idc" value="{{ cientifico['idc'] }}">
                                    <input type="hidden" name="texto_viejo" value="{{ comentario['texto'] }}">
                                    <input type="hidden" name="tipo_pagina" value="2">
                                    <button type="submit" class="boton_editar_comentario"> Editar </button>
                                    <button type="submit" name="eliminar" class="boton_eliminar_comentario"> Eliminar </button>
                                </form>
                            {% endif %}
                        </div>
                    {% endfor %}

                {% endblock %}
            </div>
        </section>
    {% endblock %}
