{% extends "header_footer.html" %}

    {% block especificar_head %}
        <script src="./js/comentario.js" defer> </script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Editar comentario</title>
        <link rel="stylesheet" href="./css/editar.css"/> <!-- Con esto decimos el archivo css
                            que va a darle formato. Si quisiéramos un archivo js sería <script src=... defer> </> en vez de link -->
    {% endblock %}

    {% block main %}
        <div class="comentarios">
        <!-- Todos los comentarios -->
            {% for comentario in comentarios %}
                {% set contador = loop.index %}
                <div class="comment">
                    Autor: {{ comentario['autor'] }} </br>
                    id Científico: {{ comentario['idCientifico'] }} </br>
                    Correo: {{ comentario['correo'] }} </br>
                    Hora: {{ comentario['hora'] }} </br>
                    Comentario: <p class="comentario" id="{{ contador }}"> {{ comentario['texto'] }} </p> </br>

                    <form class="editar_comentario" action="./editarComentario.php" method="post">
                        <input type="text" name="texto_nuevo" required>
                        <input type="hidden" name="idc" value="{{ comentario['idCientifico'] }}">
                        <input type="hidden" name="tipo_pagina" value="1">
                        <input type="hidden" name="texto_viejo" value="{{ comentario['texto'] }}">
                        <button type="submit" class="boton_editar_comentario"> Editar </button>
                        <button type="submit" name="eliminar" class="boton_eliminar_comentario"> Eliminar </button>
                    </form>
                </div>
            {% endfor %}
        </div>

    {% endblock %}