{% extends "header_footer.html" %}

{% block especificar_head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar cientifico</title>
    <link rel="stylesheet" href="./css/editar.css"/> <!-- Con esto decimos el archivo css
                            que va a darle formato. Si quisiéramos un archivo js sería <script src=... defer> </> en vez de link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
{% endblock %}

{% block main %}
    <h1 class="titulo"> EDITA A {{ cientifico['nombre'] }}</h1>

    <div class="formularios">
        <form class="editar_cientifico" action="./gestorPage.php?id={{ cientifico['idc'] }}" method="post">
            <div class="datos">
                <div class="datos_">
                    <label for="nombre_edit" class="labels">Nombre</label>
                    <input type="text" id="nombre_edit" name="nombre" value="{{ cientifico['nombre'] }}" required>
                </div>

                <div class="datos_">
                    <label for="fechas_edit" class="labels">Fechas</label>
                    <input type="text" id="fechas_edit" name="fechas" value="{{ cientifico['fechas'] }}" required>
                </div>

                <div class="datos_">
                    <label for="ciudad" class="labels">Ciudad</label>
                    <input type="text" id="ciudad" name="ciudad" value="{{ cientifico['ciudad'] }}" required>
                </div>

                <div class="datos_">
                    <label for="texto" class="labels">Texto</label>
                    <input type="text" id="texto" name="texto" value="{{ cientifico['texto'] }}" required>
                </div>

                <div class="datos_">
                    <label for="publicado" class="labels">¿Está publicado?</label>
                    <input type="checkbox" id="publicado" name="publicado" {% if cientifico['publicado'] == 1 %} checked {% endif %}>
                </div>

                <input class="guardar_datos" type="submit" value="Guardar cambios">
            </div>
        </form>

        <form class="subir_imagenes_cientifico" action="./gestorPage.php?id={{ cientifico['idc'] }}" method="post" enctype="multipart/form-data">
            <div class="subir_imagenes">
                <label id="label_imagen" for="imagen">Imagen a subir</label>
                <input type="file" id="imagen" name="imagen">
                <input id="subir_imagen" type="submit" value="Subir imagen" name="submit">
            </div>
        </form>
    </div>

    <form class="añadir_hashtags" action="./gestorPage.php?id={{ cientifico['idc'] }}" method="post">
        <div class="hashtags">
            <label for="hashtags" class="labels">Añade los hashtags separados por una coma: </label>
            <input type="text" id="hashtags" name="hashtags" required>
            <input class="guardar_datos" type="submit" value="Guardar cambios">
        </div>
    </form>

    {% for foto in fotos %}
        <img class="imagen" src="{{ foto['ruta'] }}" alt="Imagen de {{ cientifico['nombre'] }}">

        <div class="botones_edicion_eliminar">
            <a href="./eliminarFoto.php?id={{ cientifico['idc'] }}&ruta={{ foto['ruta'] }}">
                <i class="fas fa-trash-alt"></i>
            </a>
        </div>
    {% endfor %}
{% endblock %}