    {% extends "header_footer.html" %}
    
    {% block especificar_head %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Científicos</title>
        <link rel="stylesheet" href="./css/portada.css"/> <!-- Con esto decimos el archivo css
            que va a darle formato. Si quisiéramos un archivo js sería <script src=... defer> </> en vez de link -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <script src="./js/inicio_sesion.js" defer></script>
    {% endblock %}

    {% block main %}

    <section class="seccion_cientificos">
        <form class="form_busqueda" action="./index.php" method="post">
            <input type="text" id="busqueda" name="busqueda" placeholder="Busca un científico por su nombre" oninput="checkCientificos()">
            <input type="submit" value="Buscar">
        </form>

        <div id="resultado"></div>

        <!-- Esta es la sección de los científicos, que tendrá dos columnas (en dos divs) de 3 fotos cada una. -->
        <div class="cientificos">
            <!-- Primera columna de científicos. -->
            <div class="cientificos_">
                {% for cientifico in cientificos %}
                    {% set contador = loop.index %}
                    {% if contador % 2 != 0 %}
                        <img class="foto_cientifico" alt="{{ cientifico['nombre'] }}" src="{{ cientifico['fotoprimaria'] }}">
                        <a class="pie_cientifico" href="./cientifico.php?id={{ cientifico['idc'] }}"> {{ cientifico['nombre'] }} </a>
                        {% if gestor %}
                            <div class="botones_edicion_eliminar">
                                <a href="./eliminarCientifico.php?id={{ cientifico['idc'] }}">
                                    <i class="fas fa-trash-alt"></i>
                                </a>

                                <a href="./gestorPage.php?id={{ cientifico['idc'] }}">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>

            <!-- Segunda columna de científicos. -->
            <div class="cientificos_">
                {% for cientifico in cientificos %}
                    {% set contador = loop.index %}
                    {% if contador % 2 == 0 %}
                        <img class="foto_cientifico" alt="{{ cientifico['nombre'] }}" src="{{ cientifico['fotoprimaria'] }}">
                        <a class="pie_cientifico" href="./cientifico.php?id={{ cientifico['idc'] }}"> {{ cientifico['nombre'] }} </a>
                        {% if gestor %}
                            <div class="botones_edicion_eliminar">
                                <a href="./eliminarCientifico.php?id={{ cientifico['idc'] }}">
                                    <i class="fas fa-trash-alt"></i>
                                </a>

                                <a href="./gestorPage.php?id={{ cientifico['idc'] }}">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        {% if modder %}
            <a id="editar_comentario" href="./editComent.php"> Editar comentarios </a>
        {% endif %}

        {% if gestor %}
            <a id="añadir_cientifico" href="./aniadirCientifico.php"> Añadir científico </a>
        {% endif %}

        {% if superuser %}
            <a id="editar_usuarios" href="./editarUsuarios.php"> Editar usuarios </a>
        {% endif %}
    </section>
    {% endblock %}