{% extends "header_footer.html" %}

    {% block especificar_head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Científicos</title>
    <link rel="stylesheet" href="./css/login.css"/> <!-- Con esto decimos el archivo css
                que va a darle formato. Si quisiéramos un archivo js sería <script src=... defer> </> en vez de link -->
    {% endblock %}

    {% block main %}
        <section class="login">
            <form action="../login.php" method="post">
                <label for="username">Nombre de usuario:</label>
                <input type="text" id="username" name="username" placeholder="Nombre de usuario" required>
                <br/>
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" placeholder="Contraseña" required>
                <br/>
                <br/>
                <input type="submit" value="Iniciar sesión">
            </form>
        </section>
    {% endblock %}