{% extends "header_footer.html" %}

    {% block especificar_head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Científicos</title>
    <link rel="stylesheet" href="./css/login.css"/> <!-- Con esto decimos el archivo css
                que va a darle formato. Si quisiéramos un archivo js sería <script src=... defer> </> en vez de link -->
    <script src="./js/inicio_sesion.js" defer></script>
    {% endblock %}

    {% block main %}
        {% if error is not empty %}
            <div class="error">
                <p>{{ error }}</p>
            </div>
        {% else %}
            <div class="error">
                <p>Introduce tus datos</p>
            </div>
        {% endif %}

        <section id="login">
            <form class="formulario" action="./login.php" method="post">
                <input type="text" class="texto_form" name="username" placeholder="Nombre de usuario" required>
                <input type="password" class="texto_form" name="password" placeholder="Contraseña" required>

                <div class="botones_form" >
                    <input class="boton_form" type="submit" value="Iniciar sesión">
                    <button class="boton_form" onclick="cambiazo()">Registrarse</button>
                </div>
            </form>
        </section>

        <section id="registro">
            <form class="formulario" action="./login.php" method="post">
                <input type="text" class="texto_form" name="usernameRegistro" placeholder="Nombre de usuario" required>
                <input type="email" class="texto_form" name="mailRegistro" placeholder="E-mail" required>
                <input type="password" class="texto_form" name="passwordRegistro" placeholder="Contraseña" required>
                <input type="password" class="texto_form" name="RepitepasswordRegistro" placeholder="Repetir Contraseña" required>

                <div class="botones_form">
                    <input class="boton_form" type="submit" value="Registrarse">
                    <button class="boton_form" type="button" onclick="cambiazo()">Iniciar sesión</button>
                </div>
            </form>
        </section>

    {% endblock %}